@font-face {
    font-family: "Blox";
    src: url("../resources/FontBlox/blox2-webfont.woff");
    src: url("../resources/FontBlox/blox2-webfont.woff") format("woff"),
        url("../resources/FontBlox/Blox2.ttf") format("ttf"),
        url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
}

nav {
    background-color: #121521;
}

.nav-item:hover {
    color: red;
}

.navbar-toggler {
    color: red;
}

.logo {
    width: 40px;

}

.hero {
    background-color: #121521;
    min-height: 450px;
    background-image: url(../images/backsection-lofi.jpg);

}

@media screen and (min-width: 600px) {
    .hero {
        height: 85.9vh;
    }
}

@media screen and (max-width: 600px) {
    .hero {
        height: 89vh;
    }
}

@media screen and (min-width: 600px) {
    .dictator-title {
        margin-top: 50px;
    }
}

h1,
h3 {
    font-family: Blox;
    color: white;

}

h1 {
    font-size: 8vw;


}

h1:hover {
    animation: text-flicker-in-glow 4s linear infinite alternate both;

}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
        text-shadow: none;
    }

    10.1% {
        opacity: 1;
        text-shadow: none;
    }

    10.2% {
        opacity: 0;
        text-shadow: none;
    }

    20% {
        opacity: 0;
        text-shadow: none;
    }

    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }

    20.6% {
        opacity: 0;
        text-shadow: none;
    }

    30% {
        opacity: 0;
        text-shadow: none;
    }

    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    30.6% {
        opacity: 0;
        text-shadow: none;
    }

    45% {
        opacity: 0;
        text-shadow: none;
    }

    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    55.1% {
        opacity: 0;
        text-shadow: none;
    }

    57% {
        opacity: 0;
        text-shadow: none;
    }

    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }

    60.1% {
        opacity: 0;
        text-shadow: none;
    }

    65% {
        opacity: 0;
        text-shadow: none;
    }

    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    75.1% {
        opacity: 0;
        text-shadow: none;
    }

    77% {
        opacity: 0;
        text-shadow: none;
    }

    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    85.1% {
        opacity: 0;
        text-shadow: none;
    }

    86% {
        opacity: 0;
        text-shadow: none;
    }

    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}


@media screen and (max-width: 600px) {
    .KillH1 {
        font-size: 14vw;
    }
}

h4 {
    color: red;
}

hr {
    height: 0, 5px;
    color: #bbbbbb;
    margin: 0;
    padding: 0;
}

.subh2 {
    color: red;
    letter-spacing: 5px;
}

.btn-rojo {
    background-color: red;
    border-radius: 0;
}

#features {
    background-color: red;
}

.quote {
    font-size: 3vw;
    font-family: 'Press Start 2P';
}

footer {
    background-color: #121521;

}

@media screen and (max-width: 600px) {
    .quote {
        font-size: 5vw;
    }
}

@media screen and (max-width: 600px) {
    #imagen {
        max-width: 150px;
    }
}

.navli,
.info-title,
.info-text {
    color: white;
    text-decoration: none;
    font-family: 'Press Start 2P';
}

.navli:hover {
    color: red;
    text-decoration: none;

}

.ul2 li {
    text-align: end;
}

.tabla {
    border: 2px solid #FFF;
    background-color: red;
}

.btnsubmit {
    display: block;
    background-color: red;
    border: 2px solid #FFF;

}

.btnsubmit:hover {
    color: #121521;
    background-color: white;

}

#countdown {
    display: none;
    font-family: 'Press Start 2P';
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    #countdown {
        font-size: 10px;
    }
}

#score-section {
    display: none;
}

.sign-up,
.log-in {
    display: inline;
}

.sign-up:hover,
.log-in:hover,
.stats:hover {
    color: black;
    cursor: pointer;
    letter-spacing: 5px;
}

::placeholder,
input {
    font-family: 'Press Start 2P';
}

#game-body {
    cursor: url('./resources/cursor.cur'), auto;

        animation: colorchange 60s; 
        -webkit-animation: colorchange 60s;
      }
  
      @keyframes colorchange
      {
        0%   {background: white;}
        100% {background: red;}
      }
  
      @-webkit-keyframes colorchange
      {
        0%   {background: white;}
        100% {background: red;}
      
}
